<!-- <router-outlet></router-outlet> -->
<!-- <h1>Hello</h1> -->
<!-- <app-hello-world></app-hello-world> -->
<!-- <date></date> -->

<!-- <address-card name="New Name" foo="some" bar="thing"></address-card> -->
<!-- <address-card [user]="user"></address-card>
<input type="text" [(ngModel)]="inputText" >  -->
<!-- the [(ngModel)] is a two way data binding, must import FormsModule in app.modules.ts aka the banana-in-the-box -->
<!-- his [()], the [] is one way direction from component to the view -->
<!-- his [()], the () is one way direction from view to the component -->
<!-- together it is two way databinding -->
<!-- {{inputText}} -->

<app-view-component></app-view-component>