<div class="address-card">
    <h1 class="name">{{user.name}}</h1>
    <h3 class="title">{{user.designation}}</h3>

    <button (click)="toggleCollapse()">
        <div *ngIf="!isCollapsed">Collapse</div>
        <div *ngIf="isCollapsed">Expand</div>
    </button>

    <div *ngIf="!isCollapsed">
        <p class="address">{{user.address}}</p>
        <div *ngIf="user.phone.length" class="phone"> <!-- this *ngIf  phone.length is > 0-->
            <p>Phone:</p> 
            <p *ngFor="let phoneNumber of user.phone">{{phoneNumber}}</p> <!-- this *ngFor is a directive -->
        </div>
    </div>

</div>
